/* Custom styles */
.section-box {
  margin-bottom: 20px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.section-heading {
  background-color: #666;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}

/* Colors for titles */
.section-heading.chicken  {
  background-color: green;
}

.section-heading.beef  {
  background-color: coral;
}

.section-heading.sushi  {
  background-color: blue;
}

.section-content {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  background-color: lightgrey;
  border: 1px solid black;
}
